

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 8px;
    margin-left: 30px;
    
    
}

@media (max-width: 850px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1100px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width:851px) and (max-width:1099px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.video-preview{
    
    width: 300px;
    height: 330px;
    cursor:pointer;
    transition: width 0.2s,height 0.2s;
    
    
   
}
.video-preview:hover{
    width: 320px;
    
}
.video-thumb{
    position: relative;
}
.video-duration{
    /* style the position using position absolute and relative  */
    background-color: black;
    opacity: 0.8;
    color: #fff;
    border-radius: 3px;
    padding: 5px 4px 5px 4px;
    font-size:small;
    font-family: Roboto;

    position: absolute;
    right: 10px;
    bottom: 10px;
}
.thumbnail{
    margin-top: 10px;
    width: 100%;
    border-radius: 12px;
    
    
}
.video-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    

}

.channel-pic{
    width: 40px;
    border-radius: 30px;
    
}

.video-title{
    width: 250px;
    font-size: 15px;
    font-family: Arial;
    font-weight: 600;
    line-height: 24px;
    color: rgb(2, 2, 2);
    padding-left: 5px;
    margin-bottom: 10px;
    display: inline-block;
    
    
}
.video-author,
 .video-stats{
    font-size: 14px;
    color: grey;
    display: block;
    padding-left: 5px;
}
.video-author{
    margin-bottom: 3px;
}